html{
    scroll-padding-top: 100px;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-color);
}
:root{
    --main-color: #0078FF;
    --main-color-rgb: 0, 120, 255;
    --secondary-color: #CDE1F8;
    --primary-color: #fff;
    --bg-color: #F5F5F5;
}
*::selection{
    background-color: var(--main-color);
    color: var(--primary-color);
}
#home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    .nav-link{
        color: var(--primary-color);
        font-weight: bold;
    }
    .nav-link.active{
        position: relative;
        padding-left: 0;
    }
    .nav-link.active::after{
        content: "";
        width: 70%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--primary-color);
    }
    .nav-link{
        position: relative;
        padding-left: 0;
        margin-left: 1.5rem;
    }
    .nav-link::after{
        content: "";
        width: 0;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--primary-color);
        transition: all 0.3s;
    }
    .nav-link:hover::after{
        width: 70%;
    }
    .dropdown-submenu>.dropdown-menu{
        transform: translateX(-105%);
    }
    h1{
        font-size: 2.5rem;
        font-weight: 600;
    }
    .text-typing::after{
        content: "";
        border-right: 4px solid var(--primary-color);
        padding-right: 0.6rem;
        font-size: 1.5rem;
        font-weight: 600;
        animation: typing 13s infinite;
    }
}
@keyframes typing {
    0% { content: "D"; }
    1.32% { content: "De"; }
    2.63% { content: "Des"; }
    3.95% { content: "Desi"; }
    5.26% { content: "Desig"; }
    6.58% { content: "Design"; }
    7.89% { content: "Designe"; }
    9.21% { content: "Designer"; }
    10.53% { content: "Designer "; }
    11.84% { content: "Designer"; }
    13.16% { content: "Designe"; }
    14.47% { content: "Design"; }
    15.79% { content: "Desig"; }
    17.11% { content: "Desi"; }
    18.42% { content: "Des"; }
    19.74% { content: "De"; }
    21.05% { content: "D"; }
    22.37% { content: " "; }
    23.68% { content: "D"; }
    25% { content: "De"; }
    26.32% { content: "Dev"; }
    27.63% { content: "Deve"; }
    28.95% { content: "Devel"; }
    30.26% { content: "Develo"; }
    31.58% { content: "Develop"; }
    32.89% { content: "Develope"; }
    34.21% { content: "Developer"; }
    35.53% { content: "Developer "; }
    36.84% { content: "Developer"; }
    38.16% { content: "Develope"; }
    39.47% { content: "Develop"; }
    40.79% { content: "Develo"; }
    42.11% { content: "Devel"; }
    43.42% { content: "Deve"; }
    44.74% { content: "Dev"; }
    46.05% { content: "De"; }
    47.37% { content: "D"; }
    48.68% { content: ""; }
    50% { content: "F"; }
    51.32% { content: "Fr"; }
    52.63% { content: "Fre"; }
    53.95% { content: "Free"; }
    55.26% { content: "Freel"; }
    56.58% { content: "Freela"; }
    57.89% { content: "Freelan"; }
    59.21% { content: "Freelanc"; }
    60.53% { content: "Freelance"; }
    61.84% { content: "Freelancer"; }
    63.16% { content: "Freelancer "; }
    64.47% { content: "Freelancer"; }
    65.79% { content: "Freelance"; }
    67.11% { content: "Freelanc"; }
    68.42% { content: "Freelan"; }
    69.74% { content: "Freela"; }
    71.05% { content: "Freel"; }
    72.37% { content: "Free"; }
    73.68% { content: "Fre"; }
    75% { content: "Fr"; }
    76.32% { content: "F"; }
    77.63% { content: ""; }
    78.95% { content: "P"; }
    80.26% { content: "Ph"; }
    81.58% { content: "Pho"; }
    82.89% { content: "Phot"; }
    84.21% { content: "Photo"; }
    85.53% { content: "Photog"; }
    86.84% { content: "Photogr"; }
    88.16% { content: "Photogra"; }
    89.47% { content: "Photograp"; }
    90.79% { content: "Photograph"; }
    92.11% { content: "Photographe"; }
    93.42% { content: "Photographer"; }
    94.74% { content: "Photographer "; }
    96.05% { content: "Photographer"; }
    97.37% { content: "Photographe"; }
    98.68% { content: "Photograph"; }
    100% { content: " "; }
}
.title h2{
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}
.title p{
    position: relative;
    padding-bottom: 1rem;
}
.title p::after{
    content: " ";
    width: 3.5rem;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
#about{
    .content h4{
        position: relative;
        display: inline-block;
    }
    .content h4::after{
        content: " ";
        width: 90%;
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--main-color);
    }
}
#services{
    .card .icon{
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        margin: 0 auto;
        background-color: var(--primary-color);
        box-shadow: 0 0 0 0.8rem var(--main-color);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;
    }
    .card:hover .icon{
        background-color: var(--main-color);
        color: var(--primary-color);
        box-shadow: 0 0 0 0.8rem rgba(var(--main-color-rgb), 0.3);
    }
    .card{
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    }
}
.charts .row .content .icon{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 1rem auto;
    color: var(--secondary-color);
    background-color: transparent;
    border: 10px solid var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.charts h4, .charts h5{
    color: var(--secondary-color);
}
.charts{
    background-image: linear-gradient(rgba(var(--main-color-rgb),0.6)), url(../images/counters-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#work{
    .item img{
        transition: all 0.5s ease-in-out;
    }
    .item:hover img{
        transform: scale(1.2);
    }
}
.feedback{
    background-image: linear-gradient(rgba(var(--main-color-rgb),0.6)), url(../images/overlay-bg.jpg);
    background-size: cover;
    background-position: center;
}
.feedback .feedback-content{
    margin: 3rem 0;
}
.carousel-indicators [data-bs-target] {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
} 
#blog{
    h5{
        background-color: var(--main-color);
        display: inline-block;
        padding: 0.3rem 0.5rem;
        border-radius: 5px;
        color: var(--primary-color);
        font-weight: lighter;
        font-size: 0.7rem;
        text-transform: uppercase;
        transform: translateY(-50%);
    }
    a{
        color: black;
        transition: all 0.5s;
    }
    h4{
        cursor: pointer;
        transition: all 0.5s;
    }
    a:hover, h4:hover{
        color: var(--main-color);
    }
    .box{
        box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.1);
    }
}
#contact{
    background-image: linear-gradient(rgba(var(--main-color-rgb),0.6)), url(../images/overlay-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    .data{
        box-shadow: 0 0.2rem 1rem  rgba(0, 0, 0, 0.5);
    }
    h3{
        position: relative;
        padding: 0.7rem 0;
        margin: 2rem 0;
    }
    h3::after{
        content: " ";
        width: 5.5rem;
        height: 4px;
        background-color: var(--main-color);
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .btn{
        background-color: var(--main-color);
        transition: all 0.3s;
    }
    .btn:hover{
        background-color: rgba(var(--main-color-rgb), 0.8);
        box-shadow: 0 0 0 0.3rem rgba(var(--main-color-rgb), 0.3);
    }
    .info i{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.3rem;
        border-radius: 50%;
        box-shadow: 0 0 0 0.3rem var(--main-color);
        margin: 0.8rem 1rem 0.8rem 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .info i:hover{
        background-color: var(--main-color);
        color: var(--primary-color);
        box-shadow: 0 0 0 0.3rem rgba(var(--main-color-rgb), 0.3);
    }
}